<nav>
  <a routerLink="profile">Profile</a>
  <div [ngSwitch]="auth.curStatus">
    <button *ngSwitchCase="auth.Status.loggedOut" (click)="login()">Login</button>
    <button *ngSwitchCase="auth.Status.loggedIn" (click)="logout()">Logout</button>
    <button *ngSwitchCase="auth.Status.loggingIn">Logging in...</button>
    <button *ngSwitchCase="auth.Status.loggingOut">Logging out...</button>
  </div>
  <!-- <button *ngIf="user" (click)="auth.logout()">Logout</button>
  <button *ngIf="!user" (click)="auth.login()">Login</button> -->
  <!-- <button *ngIf="auth.curStatus==auth.Status.loggingIn">Logging in...</button> -->
</nav>